# Python
__pycache__/
*.py[cod]
*.pyo
.Python

# Virtual environment
.venv/

# Environment variables
.env

# IDE
.idea/
.vscode/

# Git
.git/
.gitignore

# Docs
docs/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Resultados de teste
resultado.txt